{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<header class="page">
    <div class="wrapper">
        <h1 class="page-title">Blog</h1>
    </div>
</header>

<main class="content" role="main">

    <div class="wrapper">

        <article class="{{post_class}}">

        {{! Everything inside the #post tags pulls data from the post }}
        {{#post}}

            <header class="post-header">
                <h1 class="post-title">{{title}}</h1>
            </header>

            <section class="post-content">
                {{content}}
            </section>

            <footer class="post-footer">

                <section class="author">

                {{#author}}

                    Posted by <a href="{{url}}">{{name}}</a> on <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM, DD YYYY"}}</time>.<br />

                {{/author}}

                    {{tags prefix=" Tagged: "}}

                </section>


            </footer>

        {{/post}}
        </article>

        {{> sidebar}}

    </div>

</main>
